$me-size: 30rem;

@keyframes iGrow {
  0% {
    transform: translateZ(0) scaleY(0);
  }
  100% {
    transform: translateZ(0) scaleY(1);
  }
}

.me {
  animation-fill-mode: forwards;
  animation-duration: 1500ms;
  animation-name: iGrow;
  animation-timing-function: ease-out;
  background-size: $me-size $me-size;
  object-fit: cover;
  width: $me-size;
  height: $me-size;
  transition: filter 2s linear;
  transform: translateZ(0);
  transform-origin: center top;
  will-change: transform, filter;

  &:before {
    background-image: url("https://cdn.hifilabs.co/08845e7b-79c4-4e0f-c102-0f9ce6cd1000/thumbnail");
    object-fit: cover;;
    border-radius: 20px;

  }

  &:after {
    background-image: url("https://cdn.hifilabs.co/08845e7b-79c4-4e0f-c102-0f9ce6cd1000/thumbnail");
    object-fit: cover;;
    border-radius: 20px;

  }
}