$me-size: 30rem;

@keyframes iFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.me {
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 800ms;
  animation-name: iFadeIn;
  animation-timing-function: ease-out;
  animation-delay: 300ms;
  background-size: $me-size $me-size;
  object-fit: cover;
  width: $me-size;
  height: $me-size;
  transition: filter 2s linear;
  transform: translateZ(0);
  will-change: opacity, filter;

  &:before {
    background-image: url("https://cdn.hifilabs.co/08845e7b-79c4-4e0f-c102-0f9ce6cd1000/thumbnail");
    object-fit: cover;;
    border-radius: 20px;

  }

  &:after {
    background-image: url("https://cdn.hifilabs.co/08845e7b-79c4-4e0f-c102-0f9ce6cd1000/thumbnail");
    object-fit: cover;;
    border-radius: 20px;

  }
}