p-3d,
p-3d-medium,
p-3d-large {
  display: inline-block;
  white-space: pre-wrap;
  margin: 2rem 0;
  font-size: 1.2rem;
  line-height: 2.1rem;
  position: relative;
  will-change: transform;
  transform: translateZ(0);
  z-index: 10;

  section > header > & {
    display: block;
  }

  a {
    position: relative;
    z-index: 1;
  }

  &-medium {
    margin: 4rem 0;
    font-size: 2.5rem;
    font-weight: 500;
  }

  &-large {
    margin: 4rem 0;
    font-size: 4rem;
    font-weight: 700;
  }

  &:before {
    color: black;
    left: 0;
    top: 0;
    position: absolute;
    content: attr(three-d-text);
    filter: blur(1px);
    overflow: hidden;
    pointer-events: none;
    transform: translateZ(-80rem);
    opacity: 0.07;
    white-space: pre-wrap;
    z-index: -1;
  }

  &.writer:before {
      content: attr(three-d-text) '|';
    }

  &.writer:after {
    content: '|';
    display: absolute;
    color: red;
  }
}

