@use '../_variables' as *;

@keyframes nightMode {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes nightModeOff {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.night-mode {
  display: block;
  opacity: 1;
  float: right;
  padding-top: 0;
  margin-top: 0;
  color: $red;
  animation-delay: 2000ms;
  transition: 1500ms;
  cursor: pointer;
  z-index: 1000;
  position: relative;
}

[class*="night-mode-o"] {
  background-color: white;

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
    pointer-events: none;
    animation-direction: forwards;
    animation-fill-mode: forwards;
    animation-duration: 1500ms;
    will-change: opacity;
  }
}

.night-mode-off::before {
  animation-name: nightModeOff;
  opacity: 0;
}

.night-mode-off {
  .night-mode {
    color: $red;
  }
}

.night-mode-on::before {
  animation-name: nightMode;
  opacity: 1;
}

.night-mode-on {

  p-3d:not(.night-mode), span {
    color: white;
  }

  img-3d:after {
   filter: invert(1);
  }

  :before {
   filter: invert(1);
  }

  .night-mode {
    color: $green;
  }
}

