---
import MusicLayout from '../layouts/MusicLayout.astro'
---

<MusicLayout
  title="pierre reimertz - when i go"
  songTitle="when i go"
  subtitle='song by <a href="https://www.slowclubband.com/">slow club</a>'
  videoSrc="/when-i-go/video_short.mp4"
  audioSrc="/when-i-go/pierre-reimertz-when-i-go.mp3"
>
</MusicLayout>
